body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #222; 
    color: #eee; 
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px #000; 
    color: #f00; 
}

form {
    background-color: #333; 
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 400px;
    position: relative; 
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #eee; 
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #111; 
    color: #eee; 
    font-weight: bold; 

input::placeholder { 
    color: #888; 
    font-weight: bold;
}

button[type="submit"] {
    background-color: #f00; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #b00; 
}


form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3; 
    pointer-events: none;
}